.create-group-card-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 47, 47, 75%);
  backdrop-filter: blur(0.03rem);
  position: absolute;
  z-index: 1;
}

.create-group-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: white;
  border-radius: 0.3125rem;
  padding: 1.6rem 2.2rem;
  width: 35%;
  gap: 0.6rem;
}

.create-group-card h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

.create-group-name-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.create-group-name-input input {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1.6px solid #cccccc;
  border-radius: 1.1rem;
  font-size: 1rem;
  font-weight: 500;
  flex-basis: 70%;
}

.create-group-name-input input:placeholder-shown {
  font-size: 1rem;
  font-weight: 500;
}

.create-group-color-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.color-picker-container {
  display: flex;
  gap: 0.6rem;
}

.color-picker-container input {
  border-radius: 100%;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  appearance: none;
  outline-offset: 3px;
}

.color-picker-container input:checked {
  outline: 2px solid rgb(172, 172, 172);
}

.purple {
  background-color: #b38bfa;
}

.cyan {
  background-color: #43e6fc;
}

.blue {
  background-color: #0047ff;
}

.pink {
  background-color: #ff79f2;
}

.skyblue {
  background-color: #6691ff;
}

.orange {
  background-color: #f19576;
}

.group-create-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

.group-create-button {
  background-color: #001f8b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 1.8rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

@media (max-width: 1246px) {
  .create-group-card {
    width: 50%;
  }
}

@media (max-width: 892px) {
  .create-group-card {
    width: 65%;
  }
}

@media (max-width: 673px) {
  .create-group-card {
    width: 85%;
  }
}

@media (max-width: 426px) {
  .create-group-card {
    width: 80%;
    padding: 1.2rem 1.6rem;
    gap: 0.1rem;
  }

  .create-group-card h3 {
    font-size: 1.2rem;
  }

  .create-group-name-input {
    font-size: 0.9rem;
  }
  .create-group-name-input input {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border: 1.2px solid #cccccc;
    flex-basis: 60%;
  }

  .create-group-name-input input:placeholder-shown {
    font-size: 0.8rem;
  }

  .create-group-color-input {
    font-size: 0.9rem;
    gap: 0.3rem;
  }

  .color-picker-container {
    gap: 0.4rem;
  }

  .color-picker-container input {
    width: 1.3rem;
    height: 1.3rem;
  }

  .group-create-button-container {
    justify-content: center;
  }

  .group-create-button {
    padding: 0.4rem 3.8rem;
  }
}

@media (max-width: 376px) {
  .create-group-card {
    width: 90%;
  }

  .create-group-card h3 {
    font-size: 1.1rem;
  }

  .create-group-name-input {
    font-size: 0.8rem;
  }
  .create-group-name-input input {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
    border: 1.2px solid #cccccc;
  }

  .create-group-name-input input:placeholder-shown {
    font-size: 0.7rem;
  }

  .create-group-color-input {
    font-size: 0.8rem;
    gap: 0.2rem;
  }

  .create-group-color-input button {
    width: 1rem;
    height: 1rem;
  }

  .group-create-button-container {
    justify-content: center;
  }

  .group-create-button {
    padding: 0.4rem 3.8rem;
  }
}
